/.classpath
logs
target
lib_managed
tmp
.history
dist
/out
/.project
/RUNNING_PID
/.settings
build/*
/.gradle
/.DS_Store
.DS_Store
**/*.DS_Store
/rerun

# IDE files
/.idea
/*.iml
/*.ipr
*.iws
/.idea_modules
eclipse
.scala_dependencies

