!.gitignore
!.gitattributes
/.classpath
tmp
logs
/out
/.settings
*.DS_Store
.DS_Store
**/*.DS_Store
/.DS_Store
/.project
project/*
.history
/RUNNING_PID
build/*
/.gradle
/rerun

# IDE files
/.idea
/*.iml
/*.ipr
*.iws
/.idea_modules
eclipse
.scala_dependencies
